body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: teal;
}
.searcher {
  display: flex;
  background-color: white;
  align-items: center;
}
.searcher input {
  border: none;
  width: 0;
  transition: width 0.5s linear;
}
.searcher i {
  padding: 10px 10px;
  padding-right: 12px;
  cursor: pointer;
}
.hidden {
  width: 200px !important;
  padding: 10px;
}
