body {
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  gap: 20px;
}
.card {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 30px;
  width: auto;
}
.answer {
  display: none;
}
.show {
  display: block;
}
.button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  background-color: teal;
  font-size: 20px;
  color: white;
  rotate: 90deg;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: rotate 1s;
}
.buttonShow {
  rotate: 270deg;
}
