body {
  margin: 0;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box {
  background-color: teal;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateX(0);
  transition: transform 1s ease;
}
