body {
  background-color: teal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}
.counterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.counter {
  font-size: 32px;
}
